<div class="pages-menu home-menu-grid-mobile">
  {%- for link in linklists['main-menu'].links -%}
    {% if section.settings['link-alignment'] == 'left' %}
      <a
        href="{{ link.url }}"
        class="link-block w-inline-block enter-nav-link"
        style=" height: {{ section.settings.menu-spacing }}px"
      >
        <div
          class="nav-link left"
          style="
          {% if section.settings.enable_nav_scaling %}
            transition: transform 0.3s;
            --enter-nav-scaling: scale(1.1);
            {% endif %}
          {% if settings.disable_highlight_animation %} animation-duration: 0s; {% endif %} {% if section.settings.disable_highlight_effect %} background-image: none; {% endif %} font-size:{{ section.settings.font-size }}px; --navlink-hover-color: {{ section.settings.navlink_hover_color }}; --navlink-background-color: {{ section.settings.navlink_background_color }}; --nav-link-color: {{ section.settings.nav_link_color }};"
        >
          {{ link.title }}
        </div>
      </a>
    {% elsif section.settings['link-alignment'] == 'center' %}
      <a
        href="{{ link.url }}"
        class="link-block w-inline-block enter-nav-link"
        style=" height: {{ section.settings.menu-spacing }}px"
      >
        <div
          class="nav-link center"
          style="
            {% if section.settings.enable_nav_scaling %}
            transition: transform 0.3s;
            --enter-nav-scaling: scale(1.1);
            {% endif %}
            {% if settings.disable_highlight_animation %} animation-duration: 0s; {% endif %} {% if section.settings.disable_highlight_effect %} background-image: none; {% endif %} font-size:{{ section.settings.font-size }}px; --navlink-hover-color: {{ section.settings.navlink_hover_color }}; --navlink-background-color: {{ section.settings.navlink_background_color }}; --nav-link-color: {{ section.settings.nav_link_color }}"
        >
          {{ link.title }}
        </div>
      </a>
    {% elsif section.settings['link-alignment'] == 'right' %}
      <a
        href="{{ link.url }}"
        class="link-block w-inline-block enter-nav-link"
        style=" height: {{ section.settings.menu-spacing }}px"
      >
        <div
          class="nav-link right"
          style="
            {% if section.settings.enable_nav_scaling %}
                  transition: transform 0.3s;
                  --enter-nav-scaling: scale(1.1);
                  {% endif %}
            {% if settings.disable_highlight_animation %} animation-duration: 0s; {% endif %} {% if section.settings.disable_highlight_effect %} background-image: none; {% endif %} font-size:{{ section.settings.font-size }}px; --navlink-hover-color: {{ section.settings.navlink_hover_color }}; --navlink-background-color: {{ section.settings.navlink_background_color }}; color: {{ section.settings.nav_link_color }}"
        >
          {{ link.title }}
        </div>
      </a>
    {% endif %}
  {%- endfor -%}
  {%- render 'menu-error', menu: 'main-menu' -%}
</div>

{% schema %}
{
  "name": "Main Menu",
  "tag": "div",
  "settings": [
    {
      "type": "color",
      "id": "nav_link_color",
      "label": "Navigation Link Colors",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "navlink_hover_color",
      "label": "Link Hover Colors",
      "default": "#FFF"
    },
    {
      "type": "color",
      "id": "navlink_background_color",
      "label": "Link Background Hover Colors",
      "default": "#FE0100"
    },
    {
      "type": "select",
      "id": "link-alignment",
      "label": "Nav Link Alignment",
      "options": [
      {
        "value": "left",
        "label": "Left (Supreme-style)"
      },
      {
        "value": "center",
        "label": "Center"
      }
    ],
  "default": "left"
    },
    {
      "type": "range",
      "id": "font-size",
      "min": 10,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font Size",
      "default": 14
    },
    {
      "type": "range",
      "id": "menu-spacing",
      "min": 12,
      "max": 45,
      "step": 1,
      "unit": "px",
      "label": "Vertical Spacing",
      "default": 21
    },
    {
        "type": "checkbox",
        "id": "disable_highlight_effect",
        "label": "Disable Highlight Effect",
        "default": false
      },
    {
        "type": "checkbox",
        "id": "enable_nav_scaling",
        "label": "Enable Nav Scaling",
        "default": false
    }
  ]
}
{% endschema %}
